body{
    color: #40514E;
    font-family: 'Merriweather', serif;
    overflow: hidden;
    background: #FFFFFF;
}

ul {
    margin: 0;
    padding: 0; 
}

li {
    list-style: none;
}

header {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 40px;
    margin: 0 auto 0 auto;
    z-index: 100;
    /* display: none; */
    /* opacity: 0; */
}
header .inner {
    position: relative;
    width: 980px;
    height: 40px;
    margin: 0 auto 0 auto;
}
header h1 a{
    text-indent: 100%;
    white-space: nowrap;
    /* overflow: hidden; */
    display: block;
    /* background: no repeat; */
    /* background-size: 133px 20px; */
    width: 133px;
    height: 20px;
    position: absolute;
    top: 7px;
    left: 10px;
    color:#11999E;
    font-family: 'Sacramento', sans-serif;
}

header .social {
    position: absolute;
    right: 0px;
    bottom: 5px;
}
header .social li {
    display: block;
    float: left;
    margin-right: 10px;
}
header .social .twitter {
    width: 95px;
}
header .social .facebook {
    width: 80px;
}
header .social .google_plus {
    width: 62px;
}



a {
    color:#11999E;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}
a:hover{
    color:#EAF6F6;
}

h1{
    color: #66BFBF;
    font-size: 5.625rem;
    line-height: 2;
    margin-top: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
}
h2{
    color: #66BFBF;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
    padding-bottom: 10px;
}
h3{
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
}
p {
    line-height: 2;
}