body{
    color: #40514E;
    font-family: 'Merriweather', serif;
    overflow: hidden;
    background: #FFFFFF;
}

ul {
    margin: 0;
    padding: 0; 
}

li {
    list-style: none;
}

header {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 40px;
    margin: 0 auto 0 auto;
    z-index: 100;
    /* display: none; */
    /* opacity: 0; */
}
header .inner {
    position: relative;
    width: 980px;
    height: 40px;
    margin: 0 auto 0 auto;
}
header h1 a{
    text-indent: 100%;
    white-space: nowrap;
    /* overflow: hidden; */
    display: block;
    /* background: no-repeat; */
    /* background-size: 133px 20px; */
    width: 133px;
    height: 20px;
    position: absolute;
    top: 7px;
    left: 10px;
    color:#11999E;
    font-family: 'Sacramento', 'Montserrat', cursive, sans-serif;
}

header .social {
    position: absolute;
    right: 0px;
    bottom: 5px;
}
header .social li {
    display: block;
    float: left;
    margin-right: 10px;
}
header .social .twitter {
    width: 95px;
}
header .social .facebook {
    width: 80px;
}
header .social .google_plus {
    width: 62px;
}

.main {
    width: 100%;
    height: 100%;
}
.main > .bg {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: hidden;
}
.main > .bg > .bgs {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
}
.main > .bg > .bgs > .red {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    background: #9d2226;
    background: linear-gradient(#b6482a, #9d2226);
    opacity: 0;
    display: none;
}
.main > .bg > .bgs > .blue {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    background: #1d2087;
    background: linear-gradient(#1d2087, #685a87);
    opacity: 0;
    display: none;
}
.main > .bg > .bgs > .gold {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    background: #be9e6d;
    opacity: 0;
    display: none;
}
.main > .bg > .bgs > .done {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    background: #464d58;
    background: linear-gradient(#464d58, #b36082);
    opacity: 0;
    display: none;
}

.main > .bg > .jacket {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 0;
}
.main > .bg > .jacket > .inner {
    width: 464px;
    height: 400px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -232px;
    margin-top: -200px;
    transform: perspective(1000px);
    transform-style: preserve-3d;
}
.main > .bg > .jacket .o1 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 464px;
    height: 400px;
    background: orange;
}
.main > .bg > .jacket .u1 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 464px;
    height: 400px;
    background: royalblue;
}
.main > .bg > .jacket .r1 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 22px;
    height: 400px;
    background: red;
}
.main > .bg > .jacket .l1 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 22px;
    height: 400px;
    background: lavender;
}
.main > .bg > .jacket .t1 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 464px;
    height: 22px;
    background: #000000;
  }
.main > .bg > .jacket .b1 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 464px;
    height: 22px;
    background: #000000;
}
.main > .bg > .jacket .blue1 {
    width: 464px;
    height: 400px;
    position: absolute;
    left: 0px;
    top: 0px;
    background: #1d2087;
    background: linear-gradient(#1d2087, #685a87);
}
